
@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    ViewBag.Title = "Index";
   
        <div>
            <b>WELCOME:</b> @ViewBag.welcome<br />
           
        </div>
   
}

<h2>SUB ADMIN HOME PAGE</h2>

