
@{
    
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    
    ViewBag.Title = "Enrolled";

}
@if (Session["FirstName"] != null)
{ 

<h2><strong>Hello!@Session["FirstName"].ToString()Enrolled Succesfully</strong></h2>
}

