@model eie_project.Models.UserAccount

@{
    ViewBag.Title = "Homepage";
}
<div class="textAlign">
<h2 > <strong></strong></h2>


<img src="~/images/logo.jpg" width="500" />
<h4><strong></strong></h4>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
